**Introduction to Python Basics**

*Defining Lists,Tuples,Sets and Dictionaries.*

In [ ]:
#list

d_list=[1,2,3,4,5,6,8,'hi']

#tuple

d_tuple=(1,2,3,4,5,6,8,'hi')

#set

d_set={1,2,3,4,5,6,8,'hi'}

#dict
d_dict={'list':[1,2,3,4,5,6,8,'hi'],
        'tuple':(1,2,3,4,5,6,8,'hi'),
        'set':{1,2,3,4,5,6,8,'hi'},
        }

In [ ]:
d_list

[1, 2, 3, 4, 5, 6, 8, 'hi']

In [ ]:
d_tuple

(1, 2, 3, 4, 5, 6, 8, 'hi')

In [ ]:
d_set

{1, 2, 3, 4, 5, 6, 8, 'hi'}

In [ ]:
d_dict

{'list': [1, 2, 3, 4, 5, 6, 8, 'hi'],
 'set': {1, 2, 3, 4, 5, 6, 8, 'hi'},
 'tuple': (1, 2, 3, 4, 5, 6, 8, 'hi')}

*We have to declare an empty set by the set function and not by set={} since it will treat that as a dictionary in Python.*

In [ ]:
d_set_empty=set()

In [ ]:
d_set_empty

set()

In [ ]:
d_set1={}

In [ ]:
type(d_set1)

dict

In [ ]:
d_set_duplicheck={56,41,41,56,936,13250}

In [ ]:
d_set_duplicheck
# So we can see it does not print duplicates.

{41, 56, 936, 13250}

*Nested Lists*

In [ ]:
#Nested Lists
d_list_nested=[[1,2,3,4,5,6,8,'hi'],[25,12,3.56,'hello']]

In [ ]:
d_list_nested

[[1, 2, 3, 4, 5, 6, 8, 'hi'], [25, 12, 3.56, 'hello']]

In [ ]:
set1=[23,45,6,73,'p']

In [ ]:
{set1}
#Set cannot contain lists since lists are mutable.

TypeError: ignored

In [ ]:
set2={'x':6,'w':2.562,'f':6.0}
#Set cannot contain dictionary since dictionaries are mutable.

In [ ]:
{set2}

TypeError: ignored

In [ ]:
# An example where we can see set does not have any type of indexing supported.
d_set[1]

TypeError: ignored

In [ ]:
d_set={-56,-78,'over',17,2,3,987,4,5,6,8,'hi'}

In [ ]:
#Popping out elements from the Set - the pop function removes random element from the given set.
d_set.pop()

2

In [ ]:
d_set.pop()

-56

In [ ]:
d_set.pop()

4

In [ ]:
d_set3={-56,-78,'over',17,2,3,987,4,5,6,8,'hi'}

In [ ]:
d_set4={1,2,3,57,-78,'hi'}

In [ ]:
#Union of Two sets
d_set_union=d_set3.union(d_set4)
d_set_union

{-56, -78, 1, 17, 2, 3, 4, 5, 57, 6, 8, 987, 'hi', 'over'}

In [ ]:
#Intersection of Two Sets
d_set_intersect=d_set3.intersection(d_set4)
d_set_intersect

{-78, 2, 3, 'hi'}

In [ ]:
#Adding and Removing of elements in Sets
d_set3.add(6930)
d_set4.remove('hi')

In [ ]:
d_set3

{-56, -78, 17, 2, 3, 4, 5, 6, 6930, 8, 987, 'hi', 'over'}

In [ ]:
d_set4

{-78, 1, 2, 3, 57}