**Assignment 1**

 1. **Say "Hello, World!" With Python**

In [ ]:
print("Hello, World!")

Hello, World!

2. **Python If-Else**

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys


n=int(input())

if n%2 != 0:
    print("Weird")
elif n%2 == 0 and n>=2 and n<=5:
    print("Not Weird")
elif n%2 == 0 and n>=6 and n<=20:
    print("Weird")
elif n%2 == 0 and n>=20:
    print("Not Weird")

42
Not Weird

3. **Arithmetic Operators**

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a+b)
print(a-b)
print(a*b)

5
6
11
-1
30

4. **Python: Division**

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a//b)
print(a/b)

96
45
2
2.1333333333333333

 5.**Loops**

In [ ]:
if __name__ == '__main__':
    n = int(input())

for i in range(n):
    print(i*i)

8
0
1
4
9
16
25
36
49

6. **Print Function**

In [ ]:
if __name__ == '__main__':
    n = int(input())

for i in range(1,n+1):
    print(i,end="")

4
1234

7. **List Comprehensions**

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

a=[[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if (i+j+k) != n]
print(a)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]