**Introduction to Python Basics**

*Defining Lists,Tuples,Sets and Dictionaries.*

In [ ]:
#list

d_list=[1,2,3,4,5,6,8,'hi']

#tuple

d_tuple=(1,2,3,4,5,6,8,'hi')

#set

d_set={1,2,3,4,5,6,8,'hi'}

#dict
d_dict={'list':[1,2,3,4,5,6,8,'hi'],
        'tuple':(1,2,3,4,5,6,8,'hi'),
        'set':{1,2,3,4,5,6,8,'hi'},
        }

In [ ]:
d_list

[1, 2, 3, 4, 5, 6, 8, 'hi']

In [ ]:
d_tuple

(1, 2, 3, 4, 5, 6, 8, 'hi')

In [ ]:
d_set

{1, 2, 3, 4, 5, 6, 8, 'hi'}

In [ ]:
d_dict

{'list': [1, 2, 3, 4, 5, 6, 8, 'hi'],
 'set': {1, 2, 3, 4, 5, 6, 8, 'hi'},
 'tuple': (1, 2, 3, 4, 5, 6, 8, 'hi')}

*We have to declare an empty set by the set function and not by set={} since it will treat that as a dictionary in Python.*

In [ ]:
d_set_empty=set()

In [ ]:
d_set_empty

set()

In [ ]:
d_set1={}

In [ ]:
type(d_set1)

dict

In [ ]:
d_set_duplicheck={56,41,41,56,936,13250}

In [ ]:
d_set_duplicheck
# So we can see it does not print duplicates.

{41, 56, 936, 13250}

*Nested Lists*

In [ ]:
#Nested Lists
d_list_nested=[[1,2,3,4,5,6,8,'hi'],[25,12,3.56,'hello']]

In [ ]:
d_list_nested

[[1, 2, 3, 4, 5, 6, 8, 'hi'], [25, 12, 3.56, 'hello']]

In [ ]:
set1=[23,45,6,73,'p']

In [ ]:
{set1}
#Set cannot contain lists since lists are mutable.

TypeError: ignored

In [ ]:
set2={'x':6,'w':2.562,'f':6.0}
#Set cannot contain dictionary since dictionaries are mutable.

In [ ]:
{set2}

TypeError: ignored

In [ ]:
# An example where we can see set does not have any type of indexing supported.
d_set[1]

TypeError: ignored

In [ ]:
d_set={-56,-78,'over',17,2,3,987,4,5,6,8,'hi'}

In [ ]:
#Popping out elements from the Set - the pop function removes random element from the given set.
d_set.pop()

2

In [ ]:
d_set.pop()

-56

In [ ]:
d_set.pop()

4

In [ ]:
d_set3={-56,-78,'over',17,2,3,987,4,5,6,8,'hi'}

In [ ]:
d_set4={1,2,3,57,-78,'hi'}

In [ ]:
#Union of Two sets
d_set_union=d_set3.union(d_set4)
d_set_union

{-56, -78, 1, 17, 2, 3, 4, 5, 57, 6, 8, 987, 'hi', 'over'}

In [ ]:
#Intersection of Two Sets
d_set_intersect=d_set3.intersection(d_set4)
d_set_intersect

{-78, 2, 3, 'hi'}

In [ ]:
#Adding and Removing of elements in Sets
d_set3.add(6930)
d_set4.remove('hi')

In [ ]:
d_set3

{-56, -78, 17, 2, 3, 4, 5, 6, 6930, 8, 987, 'hi', 'over'}

In [ ]:
d_set4

{-78, 1, 2, 3, 57}

**11/07/2020**

In [ ]:
#Defining a Function
def add(x,y):
  return x+y

q=add(5,7)
print(q)

12

In [ ]:
#The function takes by default the global variables value to evaluate the expression inside the function.
a=5
b=6
c=2
def printer():
  print(a+b+c)

printer()

13

In [ ]:
#111 here is in base 3 and the answer returned is in base 10.
print(float(int('111',base=3)))

13.0

In [ ]:
#Traceback helps you to track the error at which line it is and gives you information on the same.
help(traceback)

NameError: ignored

In [ ]:
# name mangling 
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
    def displayName(self): 
        print(self.__name) 
  
s1 = Student("Santhosh") 
s1.displayName() 
  
# Raises an error 
print(s1.__name)

#the class variable/attribute __name cannot be accessed outside the class.

Santhosh

AttributeError: ignored

In [ ]:
#Shows all the valid attributes with the name mangling process that is done to the class variable __name.
print(dir(s1))

['_Student__name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'displayName']

In [ ]:
#The class variable can be accessed from outside the class with the name _Student__name.
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
s1 = Student("Santhosh") 
print(s1._Student__name)

Santhosh

In [3]:
#Importing Pandas
import pandas as pd

In [1]:
from google.colab import files
upload=files.upload()

Saving DEPRESSION.csv to DEPRESSION.csv

In [4]:
g=pd.read_csv('DEPRESSION.csv')
g

     Hospt  Treat  Outcome        Time  AcuteT  Age  Gender
0        1      0        1   36.143002     211   33       1
1        1      1        0  105.142998     176   49       1
2        1      1        0   74.570999     191   50       1
3        1      0        1   49.714001     206   29       2
4        1      0        0   14.429000      63   29       1
..     ...    ...      ...         ...     ...  ...     ...
104      6      2        1   20.857000     207   43       1
105      6      2        1   18.285999     102   29       1
106      6      1        1   31.857000     154   28       1
107      6      1        1   22.000000     203   51       1
108      6      0        1    2.000000     176   33       1

[109 rows x 7 columns]